[submodule "Source/targa"]
	path = src/targa
	url = git@github.com:lcanegaly/targa.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glew"]
	path = dependencies/glew
	url = https://github.com/nigels-com/glew.git
[submodule "dependencies/miniaudio"]
	path = dependencies/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
